gradebook.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="gradebook">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element minOccurs="0" name="catalog">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="entry">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="cno">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:pattern value="[a-z][a-z][a-z][0-9][0-9][0-9]"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element type="xsd:string" name="ctitle"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="students">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="student" maxOccurs="unbounded" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="sid">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:short">
                                                    <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element type="xsd:string" name="fname"/>
                                        <xsd:element type="xsd:string" name="lname"/>
                                        <xsd:element name="minit">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:pattern value="[A-Z]"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="enrolls">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="enroll" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute type="xsd:short" name="sid" use="optional"/>
                                        <xsd:attribute name="cid" use="optional">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:pattern value="f[0-9][0-9][-][0-9]+"/>
                                                    <xsd:pattern value="sp[0-9][0-9][-][0-9]+"/>
                                                    <xsd:pattern value="su[0-9][0-9][-][0-9]+"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:attribute>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="courses">
                <xsd:complexType>

                    <xsd:sequence>
                        <xsd:element name="course" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="component" maxOccurs="unbounded" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="score" maxOccurs="unbounded" minOccurs="0">
                                                    <xsd:complexType>
                                                        <xsd:simpleContent>
                                                            <xsd:extension base="ScoreRule">
                                                                <xsd:attribute type="xsd:short" name="sid" use="optional"/>
                                                            </xsd:extension>
                                                        </xsd:simpleContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                            <xsd:attribute type="xsd:string" name="name" use="optional"/>
                                           
                                  <xsd:attribute name="maxpoints" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="1"/>
                                        <xsd:maxInclusive value="1000"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                                           
                                                       
                                  <xsd:attribute name="weight" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="1"/>
                                        <xsd:maxInclusive value="100"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute type="xsd:string" name="cid" use="optional"/>

                                <xsd:attribute name="term" use="optional">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:pattern value="f[0-9][0-9]"/>
                                            <xsd:pattern value="sp[0-9][0-9]"/>
                                            <xsd:pattern value="su[0-9][0-9]"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:attribute>



                                <xsd:attribute name="lineno" use="optional">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:short">
                                            <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:attribute>
                            

                            <xsd:attribute type="xsd:string" name="cno" use="optional"/>

                            <xsd:attribute name="a" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="0"/>
                                        <xsd:maxInclusive value="100"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>



                            <xsd:attribute name="b" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="0"/>
                                        <xsd:maxInclusive value="100"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>



                            <xsd:attribute name="c" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="0"/>
                                        <xsd:maxInclusive value="100"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>



                            <xsd:attribute name="d" use="optional">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:short">
                                        <xsd:minInclusive value="0"/>
                                        <xsd:maxInclusive value="100"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        
                    </xsd:complexType>
                
            </xsd:element>

       
    </xsd:sequence>


</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="ScoreRule">
<xsd:restriction base="xsd:integer">
<xsd:minInclusive value="1"/>
<xsd:maxInclusive value="1000"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>